*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: arial;
    background-color: rgba(223, 223, 223, 0.856);;
}

#estrutura {width: 960px;margin: 0 auto;}

#estrutura #topo
{
    height: 200px;
    background-image: url(../img/inicial.png);
}

.alterar_lista a
{    
    font-size: 10pt;
    font-family: fantasy;
}

#btn_login_user
{
    background-color:transparent;
    font-size: 19pt;
    float: right;    
}

#btn_login_user:hover
{
    color: rgb(23, 21, 134);
}

.login_adm
{
    background-color:transparent;
    font-size: 19pt;
    float: left;
}

.login
{
    width: 460px;
    height: 150px;
    
}

#menu ul 
{
    padding:0px;
    margin:0px;   
    list-style:none; font-size: 26px;
}

#menu ul li { display: inline; }
#menu ul li a 
{
    padding: 2px 20px;
    margin: 8px 1px 8px 0px;
    display: inline-block;
    text-decoration: none;
}

/* visual do link */

/* REMOVENDO SUBLINHADO DO LINK */
a:link
{
    text-decoration: none;
}

a
{    
    font-family: monospace;     
}
#menu ul li a:hover 
{
    background-color:rgb(23, 21, 134);
    color: rgb(255, 255, 255);    
}

#home
{
    background-color: teal;
    height: 480px;        
}


#estrutura #banner{height: 200px;background-color: #f3f3f3;}

#corpo #esquerda{width:135px;height: 480px;float: left;}
#corpo #centro{width: 690px;height: 480px;float: left;}
#corpo #direita{width: 135px;height: 480px;float: left;}

#estrutura #rodape{height: 50px;}

#adm_login
{
    font-size: 15pt;
    font-family: fantasy;
    padding-top: 10px;    
    float: right;
}

.footer
{
    text-align: center;    
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(23, 21, 134);
    height:60px; 
    font-size: 15pt; 
    padding-top: 5%;    
    background-color:rgba(17, 15, 141, 0);              
}


/*menu esquerda*/
.esquerda{list-style: none;}
.esquerda li {margin-left: 15px; font-size: 16px;}
.esquerda li a{text-decoration:none;}
.esquerda h1{font-family: cursive;padding: 0 10px;font-size: 20px;}


/* criando banner animado*/
.banner
{
	width: 954px;
	height: 600px;
	border: 3px solid rgb(56, 66, 203);
	margin: auto;
	margin-top: 0px;
	margin-left: 0px;
	background-image:url("../img/");
	background-size: 100% 100%;
	animation: banner 10s infinite;
}
@keyframes banner{
	0%, 30%{
		background-image: url("../img/banner-1.png")
	}
	31%, 65%{
		background-image: url("../img/banner-2.png")
	}
	66%, 100%{
		background-image: url("../img/banner-3.png")
	}
}

/* criar uma div e colocar a classe banner*/



/*---------Centro - Posters---------------------*/

/*#conteiner-post{width: 568px;height: 400px;}*/
#conteiner-posts-recentes{width: 465px;height: 360px;}

#ultimo-post-lancado
{
    float: left;
    margin: 5px;
    height: 323px;
    padding: 10px;
    border: solid 1px #ccc;width: 300px; 
}



#ultimo-post-lancado h1
{
 	color: #666;
 	font-size: 12px;
 	padding: 5px 0 0 0 ;
}

#ultimo-post-lancado a{color: #666;text-decoration: none;}
#ultimo-post-lancado a:hover{text-decoration:underline;}
#ultimo-post-lancado p{color: #000;font-size: 11px;text-align: justify;margin-top: 5px;}
/*
  #caixa-post-recente h3{font-family: Arial, Helvetica, sans-serif;
                         font-size: 11px;
                         padding: 3px;}


   #caixa-post-recente h3 a{color: #006699;
                            text-decoration: none;
                         }                      

#caixa-post-recente h3 a:hover{color: red;
                            text-decoration: underline;
                         } 
          
  #caixa-post-recente img {float: left;margin-right: 3px;}
   #caixa-post-recente small{font-size: 10px;}*/